@import url('./style.css');

.inicio img {
	width: 25em;
}

.culturamaker .box-button,
.tecnomaker .box-button {
	padding: 15px;
	margin: 25px;
}

/* carrossel */
.carousel {
	width: 100%;
}

.carousel input {
	display: none;
}

.testimonials {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 580px;
	perspective: 1000px;
	overflow: hidden;
}

.testimonials .item {
	width: 365px;
	padding: 30px;
	border-radius: 10px;
	background-color: var(--footer-color);
	position: absolute;
	top: 0;
	box-sizing: border-box;
	text-align: center;
	transition: transform 0.4s;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	user-select: none;
	cursor: pointer;
}

.testimonials .item img {
	width: 250px;
	height: 250px;
	padding: 20px;
}

.testimonials .item p {
	color: #ddd;
	text-align: center;
}

.testimonials .item .equip-nome {
	font-weight: bold;
}

.dots {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dots label {
	width: 5px;
	height: 5px;
	margin: 7px;
	border-radius: 50%;
	cursor: pointer;
	background-color: gray;
	transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"] {
	transform: scale(2);
	background-color: #000;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"] {
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"] {
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-1"] {
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"] {
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-3"] {
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"] {
	z-index: 4;
}

/* parallax banner */
.parallax-banner {
	position: relative;
	min-height: 250px;
	font-family: 'Arimo', sans-serif;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/citec-5.jpg"); 
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
}

.parallax-banner > h2 {
	position: absolute;
	color: #fff;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -20.5px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
}

/* media queries */
@media screen and (max-width:500px){
  .parallax-inner{
    min-height: 350px;
    background-size: cover;
  }
  footer{
    padding: 10px;
  }
  footer > p{
    width: 100%;
    font-size: 24px;
  }
}