@import url('style.css');

.form {
	max-width: 500px;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.form h2 {
    text-align: center;
    padding: 10px;
    font-weight: normal;
}

.form fieldset {
	border: none;
}

.form legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

.form label {
	display: block;
	margin-bottom: 8px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form textarea,
.form select {
	font-family: Georgia, "Times New Roman", Times, serif;
	border: 1px solid white;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	margin-bottom: 30px;
	background-color: var(--form-input-color);
	box-sizing: border-box; 
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

.form input[type="radio"] {
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
 	margin-bottom: 30px;
	column-gap: 50px;
}

.form .radio-options input:not(:first-child) {
	margin-left: 25px;
}

.form .datas {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.form .datas input {
	resize: none;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="time"]:focus,
.form input[type="url"]:focus,
.form input[type="radio"]:focus,
.form textarea:focus,
.form select:focus {
	background: var(--form-focus-color);
}

.form select {
	height: 35px;
}

.form .number {
	background: var(--box-color);
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form input[type="submit"],
.form input[type="button"] {
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: var(--box-color);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid var(--box-color);
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover {
	background: var(--box-button-color);
}

.notfill {
	border: 1px solid red;
}

.fillmessage {
    display: none;
}

.fillmessage.active {
    display: flex;
    margin: 0px;
    padding: 0px;
    color: red;
    font-size: 0.7em;
    font-family: 'Ubuntu', sans-serif;
}

@media (orientation: portrait), (max-width: 480px) {
	.form .datas {
		display: inline;
	}
}