/* variáveis do css */
:root {
    /* cores */
    --body-bg-color: #f9fff9;
    --hover-u-color: #1fc052;
    --box-color: #189f42;
    --box-hover-color : #23d45b9d;
    --box-button-color : #1eb64e;
    --box-button-hover-color: #383838b0;
    --footer-color: #224822;
    --footer-a-color: #189f42;
    --footer-a-hover-color: #1fc052;
    --footer-text-color: #92999f;
}

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* geral */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: var(--body-bg-color);
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5em;
    margin: 0.5em 0em;
}

a {
    color: #000000;
}

/* hover effect */
.hover-u {
    position: relative;
    display: inline-block;
}
  
.hover-u::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    content: '';
    background-color: var(--hover-u-color);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-u:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*cor ao selecionar texto
::selection {
    text-shadow: 0 0 2px #424242;
    color: #424242;
}
    
::-moz-selection {
    text-shadow: 0 0 2px #424242;
    color:#424242;
}*/

/*classes para facilitar alinhamentos*/
.right {
    float: right;
    margin: 1em 0 1em 1em;
}
  
.left {
    float: left;
    margin: 1em 1em 1em 0;
}
  
.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.indent {
    text-indent: 25px;
}

/* header */
header {
    width: 100%;
    height: 100px;
    margin: 25px auto auto auto;
    display: flex;
    justify-content: center;
    order: 0;
}

header img {
    width: 250px;
    align-self: center;
    margin: auto 0.75vh;
    order: 0;
}

.header-link {
    display: block;
    font-weight: bold;
    margin: 0.2em 0.8em;
    text-decoration: none;
}

/* menu */
.desktop-menu {
    width: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.mobile-menu {
    display: none;
}

.menu {
    position: absolute;
    top: 125px;
    width: 100%;
    left: 0;
}

.menu.active {
    display: flex;
    flex-direction: column;
    left: 0;
}

.menu li {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 0;
    padding: 0;
    background-color: var(--body-bg-color);
    overflow: hidden;
    transition: padding 0.3s ease-out;
}

.menu.active li {
    width: 100%;
    margin: 0;
    padding: 1.25em 0;
    transition: padding 0.3s ease-in;
}

.menu.active li:not(:last-child) {
    border-bottom: 1px solid #000;
}

/* botão menu mobile */
.nav-icon {
    order: -1;
    display: none;
    height: 36px;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon span {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.nav-icon span:nth-of-type(1) {
    margin-top: -16px;
}

.nav-icon span:nth-of-type(2) {
    margin-top: 0px;
}

.nav-icon span:nth-of-type(3) {
    margin-top: 16px;
}

.nav-icon.active span:nth-of-type(1) {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

.nav-icon.active span:nth-of-type(2) { 
    display: none;
}

.nav-icon.active span:nth-of-type(3) {
    margin-top: 0px;
    transform: rotate(405deg);
}

/* conteúdo principal da página */
.wrapper {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
}

.content {
    margin: 5vh 15vh 5vh 15vh;
    display: flex;
    flex-flow: row wrap;
    row-gap: 2vh;
    justify-content: center;
    order: 1;
}

.container {
    width: 85%;
    display: inline-block;
    /*border: 2px solid black;*/
    columns: 2;
    column-gap: 10px;
}

.container p {
    text-align: justify;
}

.single-column {
    columns: 1;
}

.box {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    width: 250px;
    height: 175px;
    color: #fff;
    background-color: var(--box-color);
    transition: .3s;
}

.box:hover {
    box-shadow: 8px 8px var(--box-hover-color);
    transition: .3s;
}

.box p {
    margin: 0 15px 0 15px;
    text-align: justify;
    font-size: 0.9em;
}

.box-title {
    font-weight: bolder;
    font-style: italic;
    font-size: 1.4em;
}

.box-button {
    border-radius: 10px;
    padding: 5px;
    background-color: var(--box-button-color);
    align-self: flex-end;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);

}

.box-button a {
    color: #000000b0;
    text-decoration: none;
}

.box-button a:hover {
    color: var(--box-button-hover-color);
}

/* footer*/
footer {
    font: bold 16px sans-serif;
    width: 100%;
    padding: 40px 50px;
    background-color: var(--footer-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    order: 2;
}

footer p {
    display: inline-block;
	color: #fff;
    font-weight: 400;
	vertical-align: middle;
	margin: 0;
}

footer a {
    color: var(--footer-a-color);
	text-decoration: none;
}

footer a:hover {
    color:  var(--footer-a-hover-color);
}

.footer-left,
.footer-right {
	display: inline-block;
	vertical-align: top;
}

footer img{
    width: 150px;
}

.footer-left {
    width: 45%;
}

.footer-right {
    width: 45%;
}

.footer-links {
    margin-bottom: 25px;
}

.footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-links .link-1:before {
    content: none;
}

.footer-about {
	line-height: 20px;
	color:  var(--footer-text-color);
	font-size: 13px;
	font-weight: normal;
    text-align: justify;
	margin: 0;
}

.footer-about span{
	display: block;
	color:  #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

/* media queries */
@media (max-width: 971px) {
    header {
        flex-flow: row;
        justify-content: space-around;
        margin: 0;
    }

    header img {
        max-width: 75%;
    }

    .header-link {
        font-size: 0.75em;
        order: 1;
    }

    .desktop-menu {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-content: center;
        align-items: flex-start;
    }

    .content {
        margin: 5vh 5vh 5vh 5vh;
    }

    footer{
		font: bold 14px sans-serif;
	}

	.footer-left,
	.footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}

@media (orientation: portrait), (max-width: 480px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
    }

    .nav-icon {
        display: flex;
        order: 1;
    }

    .menu {
        top: 100px
    }

    .content {
        margin: 5vh 2.5vh 5vh 2.5vh;
    }

    .container img {
        width: 100%;
    }
}