@import url('./style.css');

/* carousel */
.owl-carousel .item {
	background: #fff;
	border: 1px dashed #d7dad7;
	border-radius: 25px;
	text-align: center;
}

.owl-carousel .item-image img {
	padding: 1.25rem;
}

.owl-carousel .item-text {
	padding: 1.25rem;
}
  
.owl-carousel .item .item-title {
	color: var(--footer-color) /*#9A5053*/;
	display: block;
	font-size: .85em;
	font-weight: 600;
	margin-bottom: 16px;
	overflow: hidden;
	text-transform: uppercase;
}
  
.owl-carousel .item .item-info {
	color: #000;
	font-size: 1em;
	margin: 0;
	overflow: hidden;
}

.owl-carousel .item .item-info p {
	margin-bottom: .5rem;
	text-align: left;
}
  
.owl-dots {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
  
.owl-dot {
	background: rgba(127, 127, 127, 0.5);
	border-radius: 50px;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 10px;
}
  
.owl-dot.active {
	background: rgba(127, 127, 127, 1);
}

/* parallax banner */
.parallax-banner {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/citec-5-banner.jpg"); 
	background-position: top center;
	background-size: cover;
	font-family: 'Arimo', sans-serif;
	min-height: 250px;
	position: relative;
}

.parallax-banner > h2 {
	color: #fff;
	left: 0;
	letter-spacing: 10px;
	margin-top: -20.5px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	width: 100%;
}

/* media queries */
@media (max-width: 500px) {
	.parallax-inner {
		min-height: 350px;
		background-size: cover;
	}

	.parallax-banner > h2 {
		margin-top: -40px;
	}

	footer {
		padding: 10px;
	}

	footer > p {
		width: 100%;
		font-size: 24px;
	}
}