@import url('./style.css');

/* equipe */
.equipe {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 10px;
}

.equipe figure {
    width: 250px;
    text-align: center;
}

.equipe figure img {
    width: 150px;
}

.equipe figcaption p:first-child {
    padding-top: 1vw;
    font-weight: bold;
}

.equipe figcaption p {
    text-align: center;
    font-size: 0.85rem;
}